@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root
{
    --font-code: "JetBrains Mono", monospace;
    --font-small: "Montserrat", sans-serif;
    --font-normal: "Funnel Sans", sans-serif;
    font-family: var(--font-normal);
    color-scheme: light;
}

html
{
    font-size: 14px;
}

@media (min-width: 768px)
{
    html
    {
        font-size: 16px;
    }
}

li.question
{
    &[condition-hidden]
    {
        display: none;
    }

    &[condition-invalid]
    {
        & > h3
        {
            color: red;
        }
    }
}

td.question
{
    font-weight: bold;
}

td.empty
{
    opacity: 0.5;
}

tr.page
{
    font-size: x-large;
    font-weight: bold;
}

*:has([condition-invalid]:not([condition-hidden])) ~ #submit-page
{
    display: none;
}